
.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color:  #12972f !important;
  }
  
  .Button:active {
    background-color:  #006917 !important;
  }
  
  .Button:focus {
    background-color:  #05a318;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color:#f30d0d;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 0.8rem;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color:#f80909;
    font-weight: bolder;
    
  }

  .Red,
  .RedOutline:hover,
  .Bright:hover {
    background-color:#1daf10;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 0.8rem;
  }
  
  .RedOutline,
  .Red:hover {
    background-color: #ffffff;
    color:#2cbe1f;
    font-weight: bolder;
    
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #292e2c;
    color: rgb(246, 248, 246);
    border-radius: 5px
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: rgb(71, 129, 180);
    color: #ffffff;
    border-radius: 5px;
  }
  
  .Bright {
    background-color: #741d03;
    color: #ffffff;
  }
  
  .LargeButton {
    padding: 10px 18px;
    font-size: 0.8rem;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(76, 0, 255);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .LargeButton:hover {
    background-color: rgb(10, 11, 92);
    transform: scale(1.05);
  }
  
  .ButtonCancel {
    background-color: red;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .ButtonCancel:hover {
    background-color: darkred;
    transform: scale(1.05);
  }

  .ButtonCreate {
    background-color: #158891;
  }
  
  .ButtonCreate:hover {
    background-color: #084b50;
    transform: scale(1.05);
  }

  .submitButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .submitButton:active {
    background-color: #004085;
    transform: scale(0.98);
  }
  
  .submitButton:disabled {
    background-color: #6c757d;
    color: #d6d6d6;
    cursor: not-allowed;
    opacity: 0.65;
  }
  