
.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color:  #12972f !important;
  }
  
  .Button:active {
    background-color:  #006917 !important;
  }
  
  .Button:focus {
    background-color:  #05a318;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color:#af1010;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 0.8rem;
  }
  
  .BlueOutline,
  .Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color:#006935;
    
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #ffffff;
    color: rgb(3, 97, 19);
    border-radius: 5px
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #283d24;
  }
  
  .Bright {
    background-color: #69003d;
    color: #ffffff;
  }
  