.NavBar {
    background-color:#2c2c2e;
    border: 2px solid #dadadf;
    
  }

.NavLink {
    padding: 5px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

.NavLink:hover {
    color: #ffffff;
    transition: color ease-in-out 0.3s;
 }

 .NavLink.Active {
    color: #006935;  
 }

.NavLink:hover  {
    color: #DE4633; 
    transition: color ease-in-out 0.3s;
  }

.Active i {
    color: #006935;
  }

  a {
    color: #ffffff;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #DE4633;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ffffff;
  } 