.Container {
  min-height: 343px;
  max-height: 700px;
  object-fit: contain;
  margin-top: 20px;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.FormButtons {
  width: 7rem;
}

.LargeScreenTitle {
  margin-right: 20rem;
  font-family: "Homemade Apple", sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-top: 29px;
}

.FormContainer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.FormGroup {
  margin-bottom: 1.5rem;
  text-align: left;
}

.FormLabel {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

.FormInput {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.FormTextArea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.SelectCategory {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #ffffff;
}

.AlertMessage {
  margin-top: 1rem;
  font-size: 1rem;
  color: #f87171;
  font-weight: bold;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.Button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.ButtonBlue {
  background-color: #1dd836;
  color: white;
  border: none;
}

.ButtonBlue:hover {
  background-color: #1dd836;
}


.ButtonCancel {
  background-color: #1dd836;
  color: white;
  border: none;
}

.ButtonCancel:hover {
  background-color: #ef4444;
}


.ButtonContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}


@media (max-width: 767px) {
  .Container {
    padding: 1rem; 
    margin-top: 4rem;
    margin-bottom: 140px;
    object-fit: contain;
  }

  .FormContainer {
    max-width: 100%;
    padding: 0.5rem;
    overflow: hidden;
  }

  .Input {
    width: 100%;
    box-sizing: border-box;
  }
  .LargeScreenTitle {
    margin-right: 0;
    object-fit: contain;
  }

}
