/* ReportForm.module.css */

/* Container Styling */
.form-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Form Header */
  h4 {
    font-family: "Homemade Apple", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: #030303;
    margin-bottom: 40px;
  }
  
  /* Form Elements */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Select Dropdown Styling */
  .form-control {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
  }
  
  .form-control:focus {
    border-color: #006935;
    box-shadow: 0 0 5px rgba(9, 255, 0, 0.377);
  }
  
  /* Textarea Styling */
  textarea {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  textarea:focus {
    border-color:  #006935;
    box-shadow: 0 0 5px rgba(9, 255, 0, 0.342);
  }
  
  /* Alert Styling */
  .alert {
    margin-top: 10px;
    font-size: 0.875rem;
  }
  
  /* Button Styling */
  button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:  #006935;
    border-color:  #006935;
  }
  
  button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 85, 0.24);
  }
  