.Row {
    height: calc(100vh - 81px);
  }
  .Input {
    background: #ffffff;
    border: 1px solid #21222277;
    box-sizing: border-box;
    border-radius: 2px;
    color: #006935;
    text-align: center;
    padding: 10px;
  }
  
  .Header {
    font-family: "Homemade Apple", sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #006935;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: #006935;
    font-weight: bold;
  }
  
  .Link span {
    color: #DE4633;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 400px;
  }
  
  .SignUpCol {
    height: 470px;
  }