.App {
  font-family: "Montserrat", sans-serif;
  background-color: #2C2C2E;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #F6C76E;
  transition: color ease-in-out 0.3s;
}

i {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #F6C76E;
}